In [1]:
pwd

'D:\\MyGit\\Data Analysis\\Notebooks'

In [2]:
x = 22

In [3]:
x

22

In [4]:
print(x)

22

In [6]:
type(x)

int

In [12]:
#Camel Case

testVariable  = 'Camel Case'

In [13]:
#Pascal Case
TestVariable = 'Pascal Case'

In [14]:
#Snake Case

test_variable = 'Snake Case'

In [15]:
testVariable

'Camel Case'

In [16]:
TestVariable

'Pascal Case'

In [17]:
test_variable

'Snake Case'

In [18]:
# sets

set1 = {1,2,3,4,5,6}

In [19]:
set2 = {1,3,8,4,2,6,8,8,7,9,9,10,10}

In [20]:
# will only show unique values
set2

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [22]:
# will only show unique values
print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [23]:
# will only show common values
print(set1 & set2)

{1, 2, 3, 4, 6}

In [24]:
# will only show not matching values
print(set1 ^ set2)

{5, 7, 8, 9, 10}

In [26]:
# will subtract all the values from set 2 from set 1
print(set1 - set2)

{5}

In [27]:
# dictionary 

my_dict = {'name': 'Nabeel Khan', 'Age': 30, 'Height': '182 CM'}

In [28]:
print(my_dict)

{'name': 'Nabeel Khan', 'Age': 30, 'Height': '182 CM'}

In [29]:
my_dict['name']

'Nabeel Khan'

In [30]:
my_dict.keys()

dict_keys(['name', 'Age', 'Height'])

In [32]:
my_dict.items()

dict_items([('name', 'Nabeel Khan'), ('Age', 30), ('Height', '182 CM')])

In [33]:
my_dict['name']= 'Nabeel Muhammad Khan'

In [34]:
print(my_dict)

{'name': 'Nabeel Muhammad Khan', 'Age': 30, 'Height': '182 CM'}

In [36]:
my_dict.update({'Weight':'90 KG'})

In [37]:
print(my_dict)

{'name': 'Nabeel Muhammad Khan', 'Age': 30, 'Height': '182 CM', 'Weight': '90 KG'}

In [38]:
my_dict

{'name': 'Nabeel Muhammad Khan',
 'Age': 30,
 'Height': '182 CM',
 'Weight': '90 KG'}

In [40]:
del my_dict['Weight']

In [46]:
print(my_dict)

{'name': 'Nabeel Muhammad Khan', 'Age': 30, 'Height': '182 CM'}

In [47]:
my_dict.values()

dict_values(['Nabeel Muhammad Khan', 30, '182 CM'])

In [48]:
# in line if statement

print('It is True') if 10 > 5 else print('It is not true')

It is True

In [43]:
# in line if statement

print('It is True') if 10 < 5 else print('It is not true')

It is not true

In [49]:
# For Loop for Dictionaries

for values in my_dict.values():
    print(values)

Nabeel Muhammad Khan
30
182 CM

In [50]:
# For Loop for Dictionaries

for keys in my_dict.keys():
    print(keys)

name
Age
Height

In [51]:
# For Loop for Dictionaries

for key, values in my_dict.items():
    print(key,'->',values)

name -> Nabeel Muhammad Khan
Age -> 30
Height -> 182 CM

In [54]:
# While Loop

number = 0 
while number <=5:
    print(number)
    number = number + 1

0
1
2
3
4
5

In [55]:
# While Loop with break

number = 0 
while number <=5:
    print(number)
    number = number + 1
    if number == 4:
        break

0
1
2
3

In [58]:
# While Loop with break

number = 0 
while number <=5:
    print(number)
    number = number + 1
    if number == 4:
        continue
    else:
        print('Inner if not working')
else:
    print('Out of while loop', number)

0
Inner if not working
1
Inner if not working
2
Inner if not working
3
4
Inner if not working
5
Inner if not working
Out of while loop 6

In [63]:
# Functions

def square_num(number,power):
        print(number**power)

In [64]:
square_num(5,2)

25

In [65]:
#Keyword Argument
square_num(power=2,number=5)

25

In [66]:
#Arbitrary Arguments

def my_func(*number):
    print(number[0],number[1])

In [67]:
my_func(1,2,3)

1 2

In [69]:
tuple = (1,2,3,4)
my_func(*tuple)

1 2

In [74]:
#Keyword Arbitrary Arguments

def kw_arg(**number):
    print(number['int1'] , number['int2'])

In [75]:
kw_arg(int1 ='1', int2 = '3')

1 3